# Created by https://www.gitignore.io/api/react
# Edit at https://www.gitignore.io/?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bowercomponents

*.sublime*

psd
thumb
sketch

# Parcel 
build
dist
.cache

# End of https://www.gitignore.io/api/react
.now